---
import Layout from '../layouts/Layout.astro';
import { WalletButton } from '../components/Wallet';
import TestAddress from '../components/TestAddress';
import { MyPortfolio } from '../components/MyPortfolio';
import DataBanner from '../components/DataBanner';
---

<Layout title="Digits DAO App">
  <WalletButton client:only="solid-js" />
  <DataBanner client:only="solid-js" />
  <h1>=============</h1>
  <MyPortfolio client:only="solid-js" />

  <!-- TODO: Remove TestAddress and support the remainder of the UI with SolidJS -->
  <!-- <TestAddress client:only="solid-js" /> -->
</Layout>
