---
import Layout from '../layouts/layout.astro';
import Footer from '../components/footer.astro';

const navigation = [
  {
    name: 'Treasury',
    href: 'https://docs.google.com/spreadsheets/d/1NngZ0J207UgKg_u3otzU_pTL6cBRRbmdmpmnEHJSXec/edit#gid=0',
  },
  { name: 'Documentation', href: 'https://digits-dao.gitbook.io/docs/' },
  { name: 'CoinGecko', href: 'https://www.coingecko.com/en/coins/digits-dao' },
  {
    name: 'DexScreener',
    href: 'https://dexscreener.com/ethereum/0x24825d0ed8baa195f360e9084fa0e508082c4e3e',
  },
];
---

<script>
  const mobileMenuDialog = document.getElementById('mobile-menu-dialog');
  const mobileMenuOpenBtn = document.getElementById('mobile-menu-open-btn');
  const mobileMenuCloseBtn = document.getElementById('mobile-menu-close-btn');

  mobileMenuOpenBtn?.addEventListener('click', () => {
    mobileMenuDialog?.classList.remove('hidden');
  });

  mobileMenuCloseBtn?.addEventListener('click', () => {
    mobileMenuDialog?.classList.add('hidden');
  });
</script>

<Layout title="Digits DAO">
  <!-- This example requires Tailwind CSS v3.0+ -->
  <div class="isolate flex min-h-full flex-col bg-white">
    <!-- Background: Blurred Color Blob -->
    <div
      class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
    >
      <svg
        class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem]"
        viewBox="0 0 1155 678"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill="url(#45de2b6b-92d5-4d68-a6a0-9b9b2abad533)"
          fill-opacity=".3"
          d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z"
        ></path>
        <defs>
          <linearGradient
            id="45de2b6b-92d5-4d68-a6a0-9b9b2abad533"
            x1="1155.49"
            x2="-78.208"
            y1=".177"
            y2="474.645"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#9089FC"></stop>
            <stop offset="1" stop-color="#FF80B5"></stop>
          </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="px-6 pt-6 lg:px-8">
      <nav class="flex items-center justify-between" aria-label="Global">
        <div class="flex lg:flex-1">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Digits DAO</span>
            <img class="h-10 w-auto invert sm:h-12" src="/digits-logo.png" alt="Digits Logo" />
          </a>
        </div>
        <div class="flex lg:hidden">
          <button
            id="mobile-menu-open-btn"
            type="button"
            class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
          >
            <span class="sr-only">Open main menu</span>
            <!-- Heroicon name: outline/bars-3 -->
            <svg
              class="h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
            </svg>
          </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
          {
            navigation.map((item) => (
              <a
                href={item.href}
                target="_blank"
                rel="noopener noreferrer"
                class="text-sm font-semibold leading-6 text-gray-900"
              >
                {item.name}
              </a>
            ))
          }
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
          <a href="app" class="text-sm font-semibold leading-6 text-gray-900"
            >App <span aria-hidden="true">&rarr;</span></a
          >
        </div>
      </nav>
      <!-- Mobile menu, show/hide based on menu open state. -->
      <div role="dialog" id="mobile-menu-dialog" class="hidden" aria-modal="true">
        <div class="fixed inset-0 z-10 overflow-y-auto bg-white px-6 py-6 lg:hidden">
          <div class="flex items-center justify-between">
            <a href="#" class="-m-1.5 p-1.5">
              <span class="sr-only">Digits DAO</span>
              <img class="h-10 w-auto invert sm:h-12" src="/digits-logo.png" alt="Digits Logo" />
            </a>
            <button
              type="button"
              id="mobile-menu-close-btn"
              class="-m-2.5 rounded-md p-2.5 text-gray-700"
            >
              <span class="sr-only">Close menu</span>
              <!-- Heroicon name: outline/x-mark -->
              <svg
                class="h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"
                ></path>
              </svg>
            </button>
          </div>
          <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/10">
              <div class="space-y-2 py-6">
                {
                  navigation.map((item) => (
                    <a
                      href={item.href}
                      target="_blank"
                      rel="noopener noreferrer"
                      class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10"
                    >
                      {item.name}
                    </a>
                  ))
                }
              </div>
              <div class="py-6">
                <a
                  href="app"
                  class="-mx-3 block rounded-lg py-2.5 px-3 text-base font-semibold leading-6 text-gray-900 hover:bg-gray-400/10"
                  >App <span aria-hidden="true">&rarr;</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <main class="flex-grow">
      <div class="relative px-6 lg:px-8">
        <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
          <div class="hidden sm:mb-8 sm:flex sm:justify-center">
            <div
              class="relative rounded-full py-1 px-3 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20"
            >
              Digits is #1 FaaS Token, by CoinGecko
              <a
                href="https://twitter.com/DigitsDao/status/1616465465781669891"
                target="_blank"
                rel="noopener noreferrer"
                class="ml-3 font-semibold text-indigo-600"
              >
                <span class="absolute inset-0" aria-hidden="true"></span>
                Read more <span aria-hidden="true">&rarr;</span>
              </a>
            </div>
          </div>
          <div class="text-center">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
              We&apos;re Under Construction
            </h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">
              Stay tuned! A massively improved UX and design is heading your way
            </p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
              <a
                href="https://app.1inch.io/#/1/unified/swap/DAI/DIGITS"
                target="_blank"
                rel="noreferrer noopener"
                class="flex items-center justify-center rounded-md bg-indigo-600 px-3.5 py-1.5 text-base font-semibold leading-7 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              >
                <img
                  src="/uniswap-uni-logo.svg"
                  alt="Uniswap Logo"
                  class="mr-2 h-6 w-6 sm:h-8 sm:w-8"
                />
                <p>Buy DIGITS</p>
              </a>
              <a href="app" class="text-base font-semibold leading-7 text-gray-900">
                Go To App <span aria-hidden="true">&rarr;</span>
              </a>
            </div>
          </div>
        </div>
        <!-- Background: Blurred Color Blob -->
        <div
          class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
        >
          <svg
            class="relative left-[calc(50%+3rem)] h-[21.1875rem] max-w-none -translate-x-1/2 sm:left-[calc(50%+36rem)] sm:h-[42.375rem]"
            viewBox="0 0 1155 678"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill="url(#ecb5b0c9-546c-4772-8c71-4d3f06d544bc)"
              fill-opacity=".3"
              d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z"
            ></path>
            <defs>
              <linearGradient
                id="ecb5b0c9-546c-4772-8c71-4d3f06d544bc"
                x1="1155.49"
                x2="-78.208"
                y1=".177"
                y2="474.645"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#9089FC"></stop>
                <stop offset="1" stop-color="#FF80B5"></stop>
              </linearGradient>
            </defs>
          </svg>
        </div>
      </div>
    </main>
    <Footer />
  </div>
</Layout>
