---
import Socials from './socials.astro';
---

<footer aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mt-12 flex items-center justify-between border-t border-gray-200 pb-8 pt-8 lg:mt-16"
    >
      <p class="text-xs text-gray-400 sm:text-base">&copy; 2023 DigitsDAO. All Rights Reserved.</p>
      <Socials />
    </div>
  </div>
</footer>
